.inline-block {
  display: inline-block;
}
.table-cell {
  display: table-cell;
  vertical-align: top;
}
.scroll {
  overflow: scroll;
}
body {
  background: url('images/paper.png');
}
#editor {
  $editor-height: 600px;
  $message-width: 45%;
  #console {
    height: $editor-height;
    width: 100 - 2 * $message-width;
    vertical-align: middle;
    button {
      width: 100%;
      height: 25px;
    }
  }
  .messages {
    width: $message-width;
    max-height: 600px;
    vertical-align: top;
  }
}
#viewer {
  display: none;
}
#markdown {
  margin: 0 auto;
  max-width: 600px;
  width: 80%;
  height: 400px;
}
